wsdl/vucem/COVE/ConsultarRespuestaCove_xsd1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:tns="http://www.ventanillaunica.gob.mx/ConsultarRespuestaCove" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ventanillaunica.gob.mx/ConsultarRespuestaCove" version="1.0">
    
    <xs:element name="solicitarConsultarRespuestaCove" type="tns:SolicitarConsultarRespuestaCovePeticion"/>
    <xs:element name="solicitarConsultarRespuestaCoveResponse" type="tns:SolicitarConsultarRespuestaCoveRespuesta"/>
    
    <xs:complexType name="SolicitarConsultarRespuestaCovePeticion">
        <xs:sequence>
            <xs:element name="numeroOperacion" type="xs:string"/>
            <xs:element name="firmaElectronica" type="tns:FirmaElectronica"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="FirmaElectronica">
        <xs:sequence>
            <xs:element name="certificado" type="xs:string"/>
            <xs:element name="cadenaOriginal" type="xs:string"/>
            <xs:element name="firma" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SolicitarConsultarRespuestaCoveRespuesta">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="leyenda" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="operacion" type="tns:Operacion"/>
            <xs:element name="tieneError" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Operacion">
        <xs:sequence>
            <xs:element minOccurs="0" name="numero" type="xs:string"/>
            <xs:element minOccurs="0" name="estatus" type="xs:string"/>
            <xs:element minOccurs="0" name="fechaExpedicion" type="xs:string"/>
            <xs:element minOccurs="0" name="rfcConsulta" type="xs:string"/>
            <xs:element minOccurs="0" name="numeroFactura" type="xs:string"/>
            <xs:element minOccurs="0" name="tipoFigura" type="xs:string"/>
            <xs:element minOccurs="0" name="correoElectronico" type="xs:string"/>
            <xs:element minOccurs="0" name="observaciones" type="xs:string"/>
            <xs:element minOccurs="0" name="emisor" type="tns:Emisor"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="destinatario" nillable="true" type="tns:Destinatario"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="mercancia" nillable="true" type="tns:Mercancia"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Emisor">
        <xs:sequence>
            <xs:element minOccurs="0" name="tipoIdentificador" type="xs:string"/>
            <xs:element minOccurs="0" name="identificacion" type="xs:string"/>
            <xs:element minOccurs="0" name="nombre" type="xs:string"/>
            <xs:element minOccurs="0" name="domicilio" type="tns:Domicilio"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Destinatario">
        <xs:sequence>
            <xs:element minOccurs="0" name="tipoIdentificador" type="xs:string"/>
            <xs:element minOccurs="0" name="identificacion" type="xs:string"/>
            <xs:element minOccurs="0" name="nombre" type="xs:string"/>
            <xs:element minOccurs="0" name="domicilio" type="tns:Domicilio"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Domicilio">
        <xs:sequence>
            <xs:element minOccurs="0" name="calle" type="xs:string"/>
            <xs:element minOccurs="0" name="numeroExterior" type="xs:string"/>
            <xs:element minOccurs="0" name="numeroInterior" type="xs:string"/>
            <xs:element minOccurs="0" name="colonia" type="xs:string"/>
            <xs:element minOccurs="0" name="localidad" type="xs:string"/>
            <xs:element minOccurs="0" name="municipio" type="xs:string"/>
            <xs:element minOccurs="0" name="entidadFederativa" type="xs:string"/>
            <xs:element minOccurs="0" name="codigoPostal" type="xs:string"/>
            <xs:element minOccurs="0" name="pais" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Mercancia">
        <xs:sequence>
            <xs:element minOccurs="0" name="descripcionGenerica" type="xs:string"/>
            <xs:element minOccurs="0" name="claveUnidadMedida" type="xs:string"/>
            <xs:element minOccurs="0" name="tipoMoneda" type="xs:string"/>
            <xs:element minOccurs="0" name="cantidad" type="xs:double"/>
            <xs:element minOccurs="0" name="valorUnitario" type="xs:double"/>
            <xs:element minOccurs="0" name="valorTotal" type="xs:double"/>
            <xs:element minOccurs="0" name="valorDolares" type="xs:double"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="descripcionesEspecificas" nillable="true" type="tns:DescripcionEspecifica"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DescripcionEspecifica">
        <xs:sequence>
            <xs:element minOccurs="0" name="marca" type="xs:string"/>
            <xs:element minOccurs="0" name="modelo" type="xs:string"/>
            <xs:element minOccurs="0" name="subModelo" type="xs:string"/>
            <xs:element minOccurs="0" name="numeroSerie" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>